<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="lucene:refresh:remote">
        <handler type="Velir.SitecoreLibrary.LuceneRefresher.RemoteEvents.RefreshHandler,Velir.SitecoreLibrary.LuceneRefresher" method="OnLuceneRefresh" />
      </event>
    </events>
    <hooks>
      <hook type="Velir.SitecoreLibrary.LuceneRefresher.RemoteEvents.LuceneRefreshHook, Velir.SitecoreLibrary.LuceneRefresher"></hook>
    </hooks>
  </sitecore>
</configuration>